.projects{
    margin-top: 10%;
    color: aliceblue;
}

.projects h1{
    font-size: 45px;
    text-align: left;
    margin-left: 15%;
}

.grade{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 9%;
}
